<h1> <%= @game.player_1.name %> vs <%= @game.player_2.name %> </h1>
<h1> <%= @game.player_2.name %>: 60 HP </h1>
<h1> <%= @game.current_turn.name %>'s turn </h1>
<!--<a href="/attack">Attack</a>-->

<form action="/attack">
  <input type="submit" value="Attack">
</form>